<link rel="stylesheet" href="/css/startpage.css">
<div id="stagePageHeading">
    <h1>Get Ready for a Better Life</h1>
    <p>Time to build good habits <br>And get rid of bad habits</p>
</div>

<div id="stagePagebutton">
    <button id="startButton">
        <a href="/dailyView">Start</a>
    </button>
</div>

<script src="/js/start.js"></script>