body {
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("/images/habit.jpg");
  background-size: cover;
}

#stagePageHeading {
  display: flex;
  flex-flow: column;
  height: 30vh;
}
#stagePageHeading h1 {
  background-color: white;
  width: fit-content;
  font-family: sans-serif;
  /* opacity: 80% */
  text-shadow: rgba(0, 115, 255, 0.24) 0px 3px 8px;
  align-self: center;
  font-size: 40px;
  margin-bottom: 0;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#stagePageHeading p {
  width: fit-content;
  align-self: center;
  text-shadow: rgba(0, 115, 255, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: sans-serif;
  background-color: white;
  padding: 8px 16px;
  color: #000000;
  font-size: 25px;
  border-radius: 8px;
}

#stagePagebutton {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
#stagePagebutton button {
  width: 12%;
  height: 18%;
  font-size: 25px;
  font-weight: 600;
  border-radius: 30px;
  background-color: #0080ff;
  color: white;
  border: none;
}
#stagePagebutton button:hover {
  background-color: #0073ff;
  color: rgb(231, 233, 234);
}
